<%- include('../partials/header.ejs') %>  
    <main class = "profile-container">
        
        <h1>Welcome back, <%=user.firstName%></h1>
           <% if (events.length) { %>
                <h3>View your events</h3>
                <% events.forEach(event => { %>
                    <a  href = '/events/<%= event.id %>'>
                        <div class = 'preview-container'>
                            <p>
                                <%=event.title%>
                            </p>
                            <form id = "bottom-matter-controls">
                                <button type = "submit" formmethod="GET" formaction="/events/<%= event._id %>/edit"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button type = "submit" formmethod="POST" formaction="/events/<%= event._id %>?_method=DELETE"><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                        </div>                       
                    </a> 
               <% });  %>   
           <% } else { %>
                <p>You have not created any events yet</p>
           <% } %>

           <% if (rsvps.length) { %>
            <h3>My RSVPs</h3>
            <% rsvps.forEach(rsvps => { %>
                <a  href = '/events/<%= rsvps.eventId._id %>'>
                    <div class = 'preview-container'>
                        <p>
                            <%= rsvps.eventId.title %>
                        </p>
                        <p>
                            <%=rsvps.status%>
                        </p>
                    </div>                       
                </a> 
           <% });  %>   
       <% } else { %>
            <p>You have not RSVP'd any events yet</p>
       <% } %>
            


  
    </main>
    <%- include('../partials/footer.ejs') %>  
